/*
Place custom styles here. These styles should loaded after
bootstrap, so they may override it's behavior.
*/

// Footer
.footer {
  background-color: whitesmoke;
  padding: 30px 0;
  /* .box-shadow(inset 0 5px 15px rgba(0, 0, 0, .025)); */
}

// Application styles
.donetrue {
  text-decoration: line-through;
  color: grey;
}

#test-form table textarea {
	border: 0;
}

#test-form .no-edit .row1 {
  padding-bottom: 100px;
}

#tests_list .media-right {
	width: 100%;
}

#tests_list .img {
	padding: 0 15px;
}

#tests_list h4 {
  padding-top: 0;
  margin-top: 0;
}

.main-nav {
	padding-top: 20px;
}

.main-main h3 {
	padding-bottom: 20px;
}

.recipes div.inner {
	height: 120px;
	border: 1px solid lightgrey;
	margin: 1%;
	width: 31%;
}

.number-circle {
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;
  
  background: #fff;
  // border: 3px solid #666;
  color: #666;
  text-align: center;
  
  font-size: 29px;
  line-height: 1;
  padding: 0;
}

.col-md-3.avRating {
  width: 20%;
  text-align: right;
  padding-top: 50px
}

.number-circle.number-circle-small {
  font-size: 16px;
  color: #aaa;
  text-align: right;
  height: auto;
}

.gi-1-3x{font-size: 1.3em;}
.gi-1-5x{font-size: 1.5em;}

.badge.badge-2x{
  font-size: 25px;
}

.fullWidth {
  width: 100%;
}

.right {
  text-align: right;
}


#report {
  font-size: 12px;
}

.chart div.data {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart div.data-with-0 { width: 0%; padding: 0; }
.chart div.data-with-1 { width: 10%; }
.chart div.data-with-2 { width: 20%; }
.chart div.data-with-3 { width: 30%; }
.chart div.data-with-4 { width: 40%; }
.chart div.data-with-5 { width: 50%; }
.chart div.data-with-6 { width: 60%; }
.chart div.data-with-7 { width: 70%; }
.chart div.data-with-8 { width: 80%; }
.chart div.data-with-9 { width: 90%; }
.chart div.data-with-10 { width: 100%; }

.chart div.group { margin-bottom: 10px; border-bottom: 1px solid lightgrey; }

.chart div.group-1 .data { background-color: #1F669C; }
.chart div.group-2 .data { background-color: #88C0EB; }
.chart div.group-3 .data { background-color: #1F669C; }
.chart div.group-4 .data { background-color: #88C0EB; }
.chart div.group-5 .data { background-color: #1F669C; }
.chart div.group-6 .data { background-color: #88C0EB; }
.chart div.group-7 .data { background-color: #1F669C; }
.chart div.group-8 .data { background-color: #88C0EB; }

.chart .data-header {
  text-align: right;
}

.rating-xxs {
  font-size: 1.3em;
}

body .rating-container .rating-stars {
  color: #337ab7;
}