div.row
	div.col-md-11
		h1 Patissier
	div.col-md-1
		p
			a.glyphicon.glyphicon-align-left.gi-1-5x(ui-sref='monthly_progress')
hr

div.row
	div.col-md-2.main-nav(ui-view='nav')
	div.col-md-10.main-main(ui-view)