.modal-header
  div.row
    div.col-md-11
      h3.modal-title {{recipe.name}}
    div.col-md-1
      a.glyphicon.glyphicon-edit.gi-1-5x(href='#', ng-click="changeEdit(true)", ng-show='!edit')
        a.glyphicon.glyphicon-check.gi-1-5x(href='#', ng-click="changeEdit(false)", ng-show='edit')
  |  
  form.modal-body#test-form
    div(ng-show="!edit")

      div(ng-bind-html='recipe.notes')

    div.form-group(ng-show="edit")
      notes-form(ng-model='recipe.notes', recipe='recipe')

  |         
  .modal-footer
    button.btn.btn-warning(ng-click='close()', ng-class="{'disabled': saveInProgress && typing}") Close
