.modal-header
  div.row
    div.col-md-11
      h3.modal-title {{recipe.name}}
    div.col-md-1
      a.glyphicon.glyphicon-edit.gi-1-5x(href='#', ng-click="changeEdit(true)", ng-show='!edit')
        a.glyphicon.glyphicon-check.gi-1-5x(href='#', ng-click="changeEdit(false)", ng-show='edit')
  |  
  form.modal-body#test-form
    div.no-edit(ng-show="!edit")

      div.row.row1
        div.col-md-4
          h4 Ingredients
          div(ng-bind-html='recipe.ingredients')
        div.col-md-8
          h4 Procedure
          div(ng-bind-html='recipe.procedure')
      div.row.form-group
        div.col-md-4
          h4 Cooking Time
          div(ng-bind-html='recipe.cooking_time')
        div.col-md-8
          h4 Materials
          div(ng-bind-html='recipe.materials')

    div.form-group(ng-show="edit")
      notes-form(ng-model='recipe')

  |         
  .modal-footer
    button.btn.btn-warning(ng-click='close()', ng-class="{'disabled': saveInProgress && typing}") Close
