div.row
  div.col-md-3
    h4 Ingredients
    text-angular(ng-model='model.ingredients', ta-toolbar="[['bold','italics','underline']]")
  div.col-md-9
    h4 Procedure
    text-angular(ng-model='model.procedure', ta-toolbar="[['h1','h2'],['bold','italics','underline'], ['ul', 'ol'], ['indent', 'outdent'], ['insertLink']]")
div.row.form-group
  div.col-md-3
    h4 Cooking Time
    text-angular(ng-model='model.cooking_time', ta-toolbar="[['bold','italics','underline']]", class="compact")
  div.col-md-9
    h4 Materials
    text-angular(ng-model='model.materials', ta-toolbar="[['bold','italics','underline']]", class="compact")
